body {
background-color:#eee;
//font-family: Roboto, sans-serif;
}

#container {
	height:800px; 
	overflow:visible; 
	padding:0; 
	position:relative;
}

.box {
/*	position: absolute;
	top:0;*/
}

#game {
	width: 100%;
}

.question {
	font-size: 26px;
	padding: 10px;
	text-align: center;
}
